@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Prompt', sans-serif;
    color: black;
    scroll-behavior: smooth;
}

html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
}

/* เนื้อหาเว็บไซต์ */
.content {
    flex: 1; /* ให้พื้นที่นี้ยืดหยุ่นได้ */
}

/* ส่วน navbar */
ul{
    list-style-type: none;
}
nav {
    display: flex;
    align-items: center;
    height: 100px;
    top: 0;
    width: 100%;
    box-shadow: 5px 5px 10px gray;
}
.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
}
nav ul li a:hover{
    /* border-bottom: 3px solid #33691e; */
    color: #8bc34a;
    transition: 0.3s;
}
nav ul li a{
    font-size: 1.1rem;
}
li a{
    text-decoration: none;
    color: black;
}
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul li a{
    margin-left: 30px;
}
.logo{
    width: 90px;
    height: auto;
}
.select a{
    color: #558b2f;
    border-bottom: 3px solid #33691e;
    /* border: 1px solid black;
    border-radius: 10px;
    padding: 5px 10px; */
    
}

/* ส่วน section */
.cartoon{
    width: 400px;
    max-width: 100%;
    min-width: 50px;
    height: auto;
}
.title{
    font-size: 2rem;
}
.show-time{
    border: 3px solid #33691e;
    padding: 10px 20px;
    border-radius: 10px;
}
.col {
    border: 1px solid #ccc; /* กรอบรอบๆ แต่ละช่อง */
    padding: 10px; /* เพิ่มช่องว่างภายใน */
    text-align: center; /* จัดข้อความให้อยู่กลาง */
    background-color: #f8f9fa; /* เปลี่ยนสีพื้นหลัง */
}
.recycle {
    width: 50vw;
    max-width: 100px;
    height: auto;
}
.card:hover{
    transform: scale(1.02);
    transition: 0.5s;
    box-shadow: 1px 5px 5px rgb(212, 212, 212);
}
.icon-green{
    color: #33691e;
}

.card-img-custom {
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}
.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%;
    font-size: 0.9rem;
    text-decoration: none;
}
.modal-dialog {
    max-width: 90%;
}
.date{
    font-size: 0.7rem;
}
.card-linkk,
.card-link {
    text-decoration: none; /* ลบเส้นใต้จากลิงก์ใน card */
    color: black;
}
.card-linkk:Hover{
    color: #8bc34a;
}


/* ส่วนของ footer */
footer {
    background-color: #f1f8e9;
    text-align: center;
    padding: 10px 0;
    margin-top: 60px;
}
.cp{
    text-align: center;
}
