:root {
    --input-border: #BBBBBB;
    --primary-color: #00923f;
}

.screen {
    display: none;
    background-color: rgba(0, 0, 0, 0.397);
    height: 100%;
    width: 100%;
    position: absolute;
}
.add-media-form {
    border-radius: 10px;
    padding: 1.5em;
    width: 60%;
    position: absolute;
    background-color: var(--white);  
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    .media-form-head {
        h1 {
            font-size: 2em;
        }
    }
    input,textarea {
        margin: 10px 0;
        padding: 8px;
        border-radius: 5px;
        width: 100%;
        border: 1px solid var(--input-border);
    }
    textarea {
        height: 300px;
        resize: none;
    }
    .media-form-action {
        margin-top: 1em;
        text-align: right;
        button,span {
            padding: 5px 20px;
            color: var(--white);
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.3s;
        }
    }
}

.card{
    width: 360px;
    height: 450px;
}
.delete-btn {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
}

.delete-btn:hover {
    background-color: #e11d48;
}

