:root {
    --bg-color: #e5e7eb;
    --side-bar-bg: #1E1E1E;
    --site-bar-active: #00923f;
    --site-bar-hover: transparent;
    --header-bg: linear-gradient(to right,#175028,#00923f);
    --add-medie: linear-gradient(to bottom,#348F50,#56B4D3);
    --add-medie-hover: #007a34;
    --white: white;
    --news-head-text: #000000;
    --news-content-text: #505050;
    --news-date-text: #B9B9B9;

    /* table */
    --row-active-color: #8EDBA4;
    /* card */
    --card-author: #b0b0b0;
    --card-border: #ddd;
    --btn-submit: linear-gradient(to right,#175028,#00923f);
    --btn-cancel: linear-gradient(to right,#8c0000,#e20000);

    /* form */
    --form-border: #c1c1c1;
    --form-body: #ddd;

    /* role */
    --admin-color: linear-gradient(to right,#8c0000,#e20000);
    --employee-color: linear-gradient(to right,#175028,#00923f);
    --user-color: linear-gradient(to right,#0070d9,#329cff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    font-family: kanit;
    background-color: var(--bg-color);

                /* width */
                ::-webkit-scrollbar {
                  width: 8px;
                }
          
                /* Track */
                ::-webkit-scrollbar-track {
                  background: transparent;
                }
          
                /* Handle */
                ::-webkit-scrollbar-thumb {
                  border-radius: 20px;
                  background: var(--add-medie);
                }
          
                /* Handle on hover */
                ::-webkit-scrollbar-thumb:hover {
                  background: var(--add-medie-hover);
                }
  }

  /* Header */
  header {
    width: 100%;
    background: var(--header-bg);
    color: var(--white);
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  header img {
    height: 50px;
  }

  header .languages {
    display: flex;
    gap: 10px;
  }

  header .languages img {
    width: 24px;
    cursor: pointer;
  }

  /* Sidebar */
  .sidebar {
    font-size: 1.2em;
    width: 15%;
    height: 92.7vh;
    background-color: var(--side-bar-bg);
    color: var(--white);
    top: 70px;
    bottom: 0;
    padding: 20px;
    
        .menu-categories {
            margin-bottom: .9em;
            font-size: .8em;

            .offCategorie {
                cursor: pointer;
            }
        }
        .active {
            color: var(--site-bar-active);
        }
  }

  .sidebar h3 {
    margin-bottom: 20px;
  }

  .sidebar a {
    margin-left: 15px;
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    transition: .5s;
    
        .side-bars-icons {
            margin-right: 5px;
        } 
  }

  .sidebar a:hover {
    background-color: var(--site-bar-hover);
    transform: translateX(10px);
  }

  /* Main content */
  .content {
    height: 92.7vh;
    width: 85%;
    padding: 20px;
    height: 92vh;
    overflow-y: scroll;
     
      .card-container {
        height: 80vh;
        overflow-y: scroll;
      }
      .xtop-container {
        display: flex;
        margin-bottom: 1em;
      }
      .search {
        form {
          display: flex;
          font-size: .8em;
          justify-content: space-evenly;
          width: 30%;
    
          input {
            width: 80%;
            margin-right: 1em;
            border-radius: 20px;
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border: 0;
            padding: 10px 20px;
          }
          button {
            color: white;
            background: var(--header-bg);
            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
            border: 0;
            border-radius: 3px;
            padding: 5px 10px;
          }
        }
      }
      .count-con {
        color: var(--white);
        display: flex;
        margin-bottom: 10px;
        .box {
          border-radius: 15px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          border: 1px solid var(--card-border);
          width: 320px;
          padding: 15px 30px;
          margin: 0 10px;
          span {
            font-size: 2em;
            margin-right: 10px;
          }
        }
        .user-box {
          background: var(--user-color);
        }
        .employee-box {
          background: var(--employee-color);
        }
        .admin-box {
          background: var(--admin-color);
        }
      }

            /* width */
      ::-webkit-scrollbar {
        width: 10px;
      }

      /* Track */
      ::-webkit-scrollbar-track {
        background: transparent;
      }

      /* Handle */
      ::-webkit-scrollbar-thumb {
        background: var(--add-medie);
      }

      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: var(--add-medie-hover);
      }

  }
  .content-header2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;      
    
    div.add-media {
      background: var(--header-bg);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      color: var(--white);
      border: none;
      margin: 10px 0;
      padding: 10px 20px;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }
    div.add-media:hover {
      background-color: var(--add-medie-hover);
    }
  }
  .content-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

      div.add-media {
        background: var(--header-bg);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
        color: var(--white);
        border: none;
        margin: 10px 0;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px;
      }
      div.add-media:hover {
        background-color: var(--add-medie-hover);
      }
  }
  .content h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .content .card-container {
    margin-top: 2rem;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .card {
    background-color: var(--white);
    border: 1px solid var(--card-border);
    border-radius: 8px;
    width: 295px;
    height: 340px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    transition: .5s;
  }
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  .card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }

  .card .card-content {
    padding: 15px;
  }

  .card .card-content h3 {
    font-size: 18px;
    margin: 0 0 10px;
  }

  .card .card-content p {
    font-size: 14px;
    color: #666;
    margin: 0;
  }

.news-container {
    padding: 1em;

    .news-header {
      width: 100%;
      height: 4em;
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        font-size: 2em;
        font-weight: bold;
        padding-left: 15px;
      }
      form {
        display: flex;
        justify-content: space-evenly;
        width: 30%;

        input {
          width: 80%;
          margin-right: 1em;
          border-radius: 20px;
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          border: 0;
          padding: 10px;
        }
        button {
          color: white;
          background: var(--header-bg);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          border: 0;
          border-radius: 3px;
          padding: 5px 10px;
        }
      }
    }
    .news-card {
      margin-top: 10px;
      border-radius: 10px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      margin: 10px 0;
      background-color: var(--white);
      display: flex;
      padding: 10px;

        .news-detail {
          width: 90%;
            h3 {
              color: var(--news-head-text);
              font-size: 1.5em;
              font-weight: 400;
              margin: 5px 5px;
                span {
                  color: var(--card-author);
                  font-size: .8em;
                }
            }
            p {  
              color: var(--news-content-text);
              white-space: nowrap;
              margin: 5px 0;
              margin-left: 5px;
              overflow: hidden;
              text-overflow: ellipsis;
            }
            .news-date {
              color: var(--news-date-text);
              font-size: .9em;
              margin-left: 5px;
            }
        }
        .news-action {
          display: flex;
          align-items: center;
          justify-content: space-evenly;
          width: 10%;
          display: flex;
          span {
            font-size: 1.5em;
          }
          .edit-icon {
            color: #ffa600;
          } 
          .delete-icon {
            color: #d50000;
          } 
        }
    }
    @keyframes test {
      0%   {transform: translateX(0px)}
      25%  {transform: translateX(10px)}
      50%  {transform: translateX(0px)}
      100% {transform: translateX(10px)}
    }
    .readmore {
      text-align: center;
      padding: 12px 0;

        .read-btn {
          border: 0;
          cursor: pointer;
          color: var(--header-bg);
          background-color: var(--white);
          box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
          border-radius: 10px;
          padding: 5px 50px;
          font-size: 1.3em;
          transition: .5s;  
          animation: test linear infinite;
        }
        .read-btn:hover {
          transform: translateX(10px);
        }
        
    }

    
}

.emp-container {
  display: flex;
  .table-con {
    width: 100%;
    
    .search {
      width: 100%;
      display: flex;
      justify-content: end;
      
      select {
        border-radius: 50px;
        margin-right: 10px;
        padding: 0 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      }
    }
  }
  table {
    height: max-content;
    width: 100%;
    margin-top: 2rem;
    border: 1px solid var(--header-bg);
    thead {
      text-align: center;
      color: var(--white);
      tr {
        background: var(--header-bg);
      }
    }
    tbody {
      text-align: center;
      tr {
        border-bottom: 1px solid var(--card-border);
        transition: .5s;
      }
      tr:hover {
        background-color: var(--card-border);
      }
      tr:active {
        background-color: #8EDBA4;
      }
    }
    }
    .table-emp-index {
      width: 5%;
      padding: 10px;
    }
    .table-emp-username {
      text-align: left;
      width: 15%;
      padding: 10px;
    }
    .table-emp-email {
      text-align: left;
      width: 15%;
      padding: 10px;
    }
    .table-emp-img {
      width: 5%;
      img {
        object-fit: contain;
        width: 50px;
        height: 50px;
      }
    }
    .table-emp-name {
      width:35%;
      padding: 10px;
    }
    .table-emp-role {
      color: white;
      padding: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      .role-tag {
        font-size: .8em;
        border-radius: 4px;
        padding: 3px 6px;
      }
      .admin-role-bg {
        background: var(--admin-color);
      }
      .employee-role-bg {
        background: var(--employee-color);
      }
    }
    .table-emp-tel {
      width: 20%;
      padding: 10px;
    }
    .table-emp-delete {
    }
  }
  .emp-form {
    margin-left: 1em;
    background-color: var(--form-body);
    padding: 1em;
    width: 40%;
    height: max-content;
    .form-head {
      padding: 1em;
      align-items: center;
      justify-content: center;
      display: flex;
      .head-logo {
        font-size: 2em;
      }
      span {
        margin-left: .2em;
        font-size: 1.7em;
      }
    }
      input {
        border-radius: 5px;
        margin: .2em 0;
        margin-bottom: 1em;
        width: 100%;
        padding: .4em 1em;
      }
      .password-change {
        width: 100%;
        margin: 0.5em 0;
        padding: .4em 0;
        background: var(--header-bg);
        color: var(--white);
        border: none;
        border-radius: 5px;
        cursor: pointer;
      }
      .img-input {
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--white);
        height: 100px;
        margin-bottom: 1em;
      }
      .submit-btn {
        display: flex;
        color: var(--white);
        .submit,.cancel {
          border-radius: 5px;
          margin: 0.5em .3em;
          padding: .4em 1.3em;
        }

      }
  }
  .submit {
    background: var(--btn-submit);
  }
  .cancel {
    background: var(--btn-cancel);
  }
.was-container {
  display: flex;
  .table-con {
    width: 100%;
    
    .search {
      width: 100%;
      display: flex;
      justify-content: end;
    }
  }
  table {
    height: max-content;
    width: 100%;
    margin-top: 2rem;
    border: 1px solid var(--header-bg);
    thead {
      text-align: center;
      color: var(--white);
      tr {
        background: var(--header-bg);
      }
    }
    tbody {
      text-align: center;
      tr {
        border-bottom: 1px solid var(--card-border);
        transition: .5s;
      }
      tr:hover {
        background-color: var(--card-border);
      }
      tr:active {
        background-color: #8EDBA4;
      }
    }
    }
    .table-was-index {
      width: 3%;
      padding: 10px;
    }
    .table-was-name {
      text-align: left;
      width: 35%;
      padding: 10px;
    }
    .table-was-delete {
      width: 5%;
    }

    .was-form {
      height: max-content;
      display: none;
      margin-left: 1em;
      background-color: var(--form-body);
      border: 1px solid var(--form-border);
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      padding: 1em;
      width: 40%;
      .form-head {
        padding: 1em;
        align-items: center;
        justify-content: center;
        display: flex;
        .head-logo {
          font-size: 2em;
        }
        span {
          margin-left: .2em;
          font-size: 1.7em;
        }
      }
        input {
          border-radius: 5px;
          margin: .2em 0;
          margin-bottom: 1em;
          width: 100%;
          padding: .4em 1em;
        }
        .password-change {
          width: 100%;
          margin: 0.5em 0;
          padding: .4em 0;
          background: var(--header-bg);
          color: var(--white);
          border: none;
          border-radius: 5px;
          cursor: pointer;
        }
        .img-input {
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--white);
          height: 100px;
          margin-bottom: 1em;
        }
        .submit-btn {
          display: flex;
          color: var(--white);
          .submit,.cancel {
            border-radius: 5px;
            margin: 0.5em .3em;
            padding: .4em 1.3em;
          }
  
        }
    }
    .was-form.active {
      display: block;
      opacity: 1;
      transform: scale(1);
  }
}

.price-container {
  display: flex;
  table {
    height: max-content;
    width: 100%;
    margin-top: 2rem;
    border: 1px solid var(--header-bg);
    thead {
      text-align: center;
      color: var(--white);
      tr {
        background: var(--header-bg);
      }
    }
    tbody {
      text-align: center;
      tr {
        border-bottom: 1px solid var(--card-border);
        transition: .5s;
      }
      tr:hover {
        background-color: var(--card-border);
      }
      tr:active {
        background-color: var(--row-active-color);
      }
    }
    }
    .table-price-index {
      width: 5%;
      padding: 10px;
    }
    .table-price-id {
      width: 15%;
      padding: 10px;
    }
    .table-price-name {
      width: 35%;
      padding: 10px;
    }
    .table-price-price {
      width: 20%;
      padding: 10px;
    }
    .table-price-amount {
      width: 10%;
      padding: 10px;
    }

    .price-form {
      margin-left: 1em;
      background-color: var(--form-body);
      padding: 1em;
      width: 40%;
      .form-head {
        padding: 1em;
        align-items: center;
        justify-content: center;
        display: flex;
        .head-logo {
          font-size: 2em;
        }
        span {
          margin-left: .2em;
          font-size: 1.7em;
        }
      }
      
        input {
          border-radius: 5px;
          margin: .2em 0;
          margin-bottom: 1em;
          width: 100%;
          padding: .4em 1em;
        }
        .img-input {
          border-radius: 5px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: var(--white);
          height: 100px;
          margin-bottom: 1em;
        }
        
        .submit-btn {
          display: flex;
          color: var(--white);
          .submit,.cancel {
            border-radius: 5px;
            margin: 0.5em .3em;
            padding: .4em 1.3em;
          }
  
        }
    }
    .select {
      width: 100%;
      border-radius: 5px;
      padding: .4em .6em;
      margin: 0.5em 0;
    }
}

.page-current {
  background: var(--header-bg);
}








/* ตกแต่ง dropdown */
.languages {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ปุ่ม dropdown */
.dropbtn {
  background-color: #165320;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

/* กล่องเมนู dropdown */
.dropdown {
  position: relative;
  display: inline-block;
}

/* เนื้อหาของ dropdown */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 150px;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  z-index: 1;
  right: 0;
}

/* ปุ่มด้านใน dropdown */
.dropdown-content a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

/* เปลี่ยนสีเมื่อ hover */
.dropdown-content a:hover {
  background-color: #f1f1f1;
}

/* แสดง dropdown เมื่อ hover หรือคลิก */
.show {
  display: block;
}