
.content {
    flex: 1;
    min-width: 0;
    margin-left: 0 !important;
    width: auto !important;
    padding: 0;
}

@media (max-width: 1023px) {
    .content {
        width: 100% !important;
        padding-bottom: 140px !important;
    }
}