:root {
    --form-color: #ddd;
    --form-border: #c1c1c1;

    --gradient-color: linear-gradient(to right,#175028,#00923f);

    --text-color-price: #00923f;
}
.show-time {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px; /* ระยะห่างระหว่างไอคอนกับตัวเลขเวลา */
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background: rgba(51, 105, 30, 0.8); /* สีเขียวโปร่งแสง */
    padding: 12px 24px;
    border-radius: 12px;
    border: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.content-header h1 {
    font-size: 2rem;
    font-weight: 500;
}

.input-group input, 
.input-group select {
    width: 100%; /* ใช้ความกว้างเต็มพื้นที่ของ container */
    padding: 10px; /* ระยะห่างภายใน */
    font-size: 1rem; /* ขนาดตัวอักษร */
    border-radius: 5px; /* มุมโค้ง */
    box-sizing: border-box; /* รวม padding ในความกว้าง */
}

.submit-btn {
    display: flex;
    justify-content: flex-end; /* จัดปุ่มไปทางขวาสุด */
    margin-top: 10px;
}
.submit:hover {
    background-color: #19851e; /* สีเมื่อ hover */
    transition: 0.5s;
}

.delete-btn {
    background-color: #f44336; /* สีแดง */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.delete-btn:hover {
    background-color: #d32f2f; /* สีแดงเข้ม */
}

.edit-btn {
    background-color: #007bff; /* สีฟ้าสำหรับแก้ไข */
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.edit-btn:hover {
    background-color: #0155ad;
}

table tbody{
    background-color: white;
}

.waste-img{
    width: 50px;
    height: 50px;
    margin: 5px 0px;
    object-fit: contain; /* ให้รูปเต็มกรอบโดยไม่เสียสัดส่วน */
}

.img-edit{
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-left: 5px;
}
.left-box {
    background-color: #fff;
    border: var(--form-border) solid 1px;
    width: 70%;
    height: 80vh;
    h2 {
        font-size: 1.6em;
    }
}
.right-box {
    background-color: var(--form-color);
    border: var(--form-border) solid 1px;
    width: 30%;
    h2 {
        margin: .5em 0;
        text-align: center;
        font-size: 1.7em;
    }
    button {
        width: 100%;
        background: var(--gradient-color);
    }
    p {
        width: 100%;

        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2em;
        .text-total {
            width: 20%;
        }
        #totalAmount {
            text-align: right;
            font-size: 2em;
            padding-right: 10px;
            width: 65%;
            color: var(--text-color-price);
        } 
        .text-unit {
            text-align: right;
            width: 15%;
        }
    }
}
#selectedWasteList {
    overflow-y: auto;
    height: 430px;
    .cart {
        width: 100%;
        margin-top: .3em;
        display: flex;
        padding: 5px 10px;
        justify-content: space-between;
        /* background-color: white; */
        background: linear-gradient(to right,#f0f0f0, #ffffff);
        border-left: 2px solid var(--text-color-price);
        border-radius: 8px;
        margin-bottom: 2px;
        align-items: center;
        span {
            span:first-child {
                font-size: 1.2em;
            }
            span:last-child {
                color: #686868;
            }
        }
        .cart-action {
            display: flex;
            align-items: center;
            .cart-action-edit, .cart-action-close {
                font-size: 1.2em;
                margin: 0 5px;
            }
            .cart-action-edit {
                color: rgb(252, 172, 0);
            }
            .cart-action-close {
                color: rgb(141, 0, 0);
            }
        }
    }
}

